@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
        <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>@ViewData["title"]</title>
    <style>
        .panel-danger{border-color:#dd514c}
        .panel-danger > .panel-header{ border-color:#dd514c; background-color:#dd514c; color:#fff}
    </style>
</head>
<body>
<div class="anel panel-danger">
        <div class="panel-header">@ViewData["title"]</div>

        <div class="panel-body">

            <p><b>Transfer via ATM atau Internet Banking atau Mobile Banking</b></p>

            <p>1.Menu Pilih Transfer antar bank</p>
            @if(Convert.ToString(ViewData["prefix"]) == "119905" || Convert.ToString(ViewData["prefix"]) == "119906")
            {
                <p>2.Masukan kode CIMB Niaga:<B>022</B></p>
            }
            else
            {
                <p>2.Masukan kode Permata Niaga:<B>013</B></p>
            }
            
            <p>3.Masukan nomor rekening Tujuan:<B>@ViewData["vaNo"]</B></p>

            <p>4.Masukan jumlah nominal pembayaran:<B>Rp.@ViewData["money"]</B></p>

            <p>5.Pastikan Nama yang tertera adalah <B>Dana Pinjam Duitku</B></p>

            <p>6.Bayarkan tagihan anda sebelum atau saat jatuh tempo</p>

            <p></p>

            <p><b>Kontak Kami</b></p>
            <p>E-mail:cs＠danapinjam.com</p>
            <p>Whats App:081383662454</p>
            <p>Phone:0813 1682 3995，0813 8366 2454</p>
        </div>
</div>
</body>
</html>