
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tentang Kami</title>
</head>
<body>
    <h3>Tentang Kami</h3>
    <div>
        Dana Pinjam adalah salah satu platform pinjaman tunai di Indonesia yang dimana pengguna dapat beroperasi secara penuh melalui aplikasi seluler. Kami membangun dan sepenuhnya menerapkan teknologi seluler untuk berinovasi bisnis kredit pribadi tradisional. Misi kami adalah untuk menghadirkan layanan pinjaman yang aman dan nyaman bagi para pengguna kami. Dana Pinjam menjunjung tinggi konsep "Pinjamkan dengan cepat", dengan mengandalkan data besar dan pengalaman luas tim kami dalam pengendalian risiko, inovasi keuangan yang digerakkan oleh ilmu pengetahuan, dengan rancangan keuangan internet seluler untuk membangun platform internet yang mudah, nyaman, aman, dan transparan.
    </div>
    <div>
        Pinjaman Dana Pinjam adalah layanan pinjaman tunai otomatis sepenuhnya. Pengguna hanya membutuhkan ponsel dan mereka dapat menyelesaikan seluruh proses aplikasi, pencairan pinjaman, dan pembayaran pinjaman. Jaminan dan penandatanganan di tempat tidak diperlukan, Anda hanya perlu KTP untuk mengajukan pinjaman. Ini adalah arti sebenarnya dari "kaki tinggal di dalam ruangan, santai meminjam". Dana Pinjam menghadirkan proses pengkajian efisiensi tinggi yang berfokus pada "peninjauan otomatis, dengan peninjauan manual sebagai pelengkap" hanya memakan waktu 20 menit untuk pencairan pinjaman. Kami menyediakan layanan pinjaman tunai Rp 1.500.000 untuk jangka waktu 7 hari.
    </div>
    <div>
        Dana Pinjam berkomitmen untuk memecahkan masalah keuangan pada masyarakat Indonesia yang disebabkan oleh akses terbatas ke bank. Orang Indonesia tidak perlu lagi menghabiskan banyak waktu dan menjalani proses yang rumit untuk mendapatkan pinjaman. Dana Pinjam akan menyelesaikan masalah keuangan di masyarakat urbanisasi awal, membantu mereka untuk mencapai kehidupan yang lebih baik, memecahkan masalah kantong kosong pada akhir bulan. Pada saat yang sama, kami melindungi semua aspek privasi setiap pengguna, membawa layanan pinjaman yang sangat baik kepada banyak orang. Dana Pinjam didukung oleh PT. Anugerah Digital Niaga.
    </div>
</body>
</html>
