
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contactus</title>
</head>
<body>
    <h3>E-mail：cs@danapinjam.com</h3>
    <h3>Whats App :081383662454</h3>
    <h3>           087788876279</h3>
</body>
</html>
