
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>pertolongan</title>
</head>
<body>
    <h1>Help Center</h1>
    Pusat Bantuan
    <h3>• Pengguna seperti apa yang dapat mengajukan sebuah pinjaman?</h3>
    <div>
        Dana Pinjam tidak memaksakan pembatasan khusus pada pekerjaan Anda, penghasilan, dan kondisi lainnya. Anda hanya perlu berusia di atas 17 tahun, memiliki nomor ponsel dan sumber pendapatan yang stabil, dan Anda dapat mengajukan permohonan pinjaman di Dana Pinjam.
    </div>
    <h3>• Bagaimana cara mengajukan sebuah pinjaman?</h3>
    <div>Buka Google Play, cari aplikasi "Dana Pinjam", dan unduh aplikasinya. Buka aplikasi dan Anda siap mengajukan pinjaman.

    </div>
    <h3>
        Bagaimana cara mengembalikan pinjaman? Dapatkah saya mengembalikan pinjaman lebih awal?
    </h3>
        <div>Kami akan mengirimkan pengingat ke ponsel Anda sejak dua hari sebelum tanggal jatuh tempo untuk mengingatkan Anda untuk mengembalikan pinjaman. Anda dapat mengembalikan pinjaman melalui e-banking, mobile banking, dan transfer ATM bank-bank besar. Setelah transfer, aplikasi Dana Pinjam akan secara otomatis menerima sinyal pembayaran dan melunasi pinjaman Anda saat ini. Kami mendukung pembayaran pinjaman lebih awal.
    </div>
        <h3>Materi apa yang harus disiapkan sebelum mengajukan pinjaman? Bagaimana proses peninjauan pinjaman?</h3>

        <div>Anda hanya perlu mengikuti langkah-langkah dalam sistem pengisian 5 bagian informasi (informasi pribadi, informasi kerja, informasi kontak, unggahan foto dan informasi lainnya). Anda tidak membutuhkan materi lainnya, mohon isi informasi Anda yang sebenarnya. Sistem ini akan melakukan analisis data besar, perhitungan multi-dimensi skor kredit, dan perhitungan komprehensif dari hasil peninjauan pinjaman Anda berdasarkan informasi yang Anda berikan.
    </div>
        <h3>Apa itu masa tenggang? Berapa biaya untuk masa tenggang?</h3>
        <div>Masa tenggang adalah hari pertama hingga ketujuh setelah tanggal jatuh tempo. Masa tenggang tidak mempengaruhi catatan kredit Anda, kami tidak akan mengunggah informasi Anda ke sistem informasi peminjam Bank Indonesia. Namun, akan ada biaya keterlambatan sebesar Rp 150.000 per hari.
    </div>
        <h3>Apa itu jatuh tempo? Bagaimana cara menghitung biaya jatuh tempo?</h3>
        <div>Pinjaman Anda jatuh tempo jika Anda tidak dapat membayarnya tepat waktu. Biaya harian jatuh tempo adalah Rp 150.000.
    </div>
        <h3> Apa saja konsekuensi jika pembayaran kembali sudah lewat jatuh tempo?</h3>
        <div>Kami akan mengambil langkah hukum untuk mengumpulkan pembayaran kembali. Pada saat yang sama, kami akan mengumpulkan denda dan biaya manajemen yang terlambat. Tingkat hukuman harian dan biaya manajemen adalah 150.000. Untuk perincian klausul, silakan lihat perjanjian pinjaman. Jika ada pelanggaran serius, kami diizinkan untuk mempublikasikan informasi pribadi Anda, dan pada saat yang sama Anda tidak akan diizinkan untuk mengajukan pinjaman kepada kami di masa depan. Terakhir, kami akan mengunggah catatan kredit Anda ke arsip kredit nasional.
    </div>
        <h3>
            Mengapa aplikasi saya gagal dalam peninjauan? Dapatkah saya mengajukan kembali?
        </h3>
        <div>Kami sangat menyesal. Nilai komprehensif Anda tidak mencukupi, oleh karena itu, permohonan pinjaman Anda tidak mendapatkan persetujuan kami. Sistem ini menggunakan peninjauan otomatis melalui analisis data besar. Untuk alasan pengendalian risiko, kami tidak dapat menginformasikan skor kredit spesifik Anda dan alasan spesifik mengapa aplikasi Anda gagal. Jika tidak ada perubahan besar pada informasi pribadi Anda, kami tidak menyarankan Anda untuk mengajukan permohonan lagi dalam waktu dekat. Jika Anda membutuhkan pinjaman, silakan coba lagi setidaknya 7 hari setelahnya.
    </div>
        <h3>Apakah informasi pribadi saya akan bocor?</h3>
        <div>Kami berjanji bahwa kami tidak akan membocorkan informasi pribadi Anda kepada pihak ketiga tanpa persetujuan Anda (dengan pengecualian pembayaran kembali yang jatuh tempo dan pemberian layanan)
        Bagaimana tanggal jatuh tempo dihitung? Bagaimana cara memeriksa kapan pinjaman saya jatuh tempo?
        Batas waktu dihitung 7 hari (berdasarkan preferensi jangka waktu pinjaman Anda sebelumnya) setelah tanggal sebenarnya pinjaman tiba di akun Anda. Ketika pinjaman berhasil, Anda dapat memeriksa tanggal jatuh tempo di halaman utama aplikasi.
    </div>
        <h3>Apa itu perpanjangan waktu?</h3>
        <div>Perpanjangan waktu adalah untuk memperpanjang waktu pinjaman. Perpanjangan ini memiliki biaya perpanjangan, yaitu Rp500.000 per jangka waktu pinjaman. Jangka panjang-nya adalah 7 hari.
    </div>
        <h3>Bagaimana cara memperpanjang waktu pinjaman?</h3>
        <div>Ada tombol "Perpanjang" di dekat tombol pengembalian. Cukup klik perpanjang dan unggah tanda terima pembayaran bank biaya perpanjangan waktu.
    </div>
        <h3>Berapa kali saya dapat memperpanjang waktu pinjaman?</h3>
        <div>Anda dapat memperpanjang waktu pinjaman selama Anda membayar biaya perpanjangan waktu Anda. Jika biaya perpanjangan dibayar dalam jangka waktu pinjaman, tidak akan ada biaya jatuh tempo. Namun, jika biaya perpanjangan dibayarkan setelah tanggal jatuh tempo, akan ada biaya jatuh tempo yang harus dibayarkan terlebih dahulu.
    </div>
</body>
</html>
