@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

Kebijakan Privasi ini telah dibuat untuk menjaga, melindungi dan menjaga privasi dan kerahasiaan dari Pengguna Platform milik kami. Pengguna diharapkan membaca Kebijakan Privasi ini dengan saksama sebelum menggunakan Layanan yang diberikan melalui Platform. Dengan mengakses dan menggunakan Layanan di Platform, Pengguna mengakui telah membaca, memahami dan menyetujui isi yang tertulis dalam Kebijakan Privasi ini.

DEFINISI
"Anda" dengan variasi tata bahasa dan ungkapan yang serumpun, merujuk pada Peminjam, Pemberi Pinjaman atau orang lain yang menggunakan Platform dan/atau Layanan baik terdaftar pada Platform maupun tidak.
"Data Pribadi" adalah meliputi segala data, keterangan, informasi dan dokumen, baik elektronik maupun non-elektronik namun selain Nomor Darurat, dari atau mengenai Pengguna (baik Peminjam maupun Pemberi Pinjaman, sesuai konteksnya) dan/atau pihak terkait Pengguna (termasuk namun tidak terbatas pada keluarga, rekan, karyawan, perusahaan atau penyedia jasa Pengguna, apabila dipersyaratkan) yang diterima atau diakses Dana Pinjaman Online plus dari Pengguna, diajukan, diberikan atau disingkapkan Pengguna bagi Dana Pinjaman Online plus, menurut persetujuan Pengguna yang bersangkutan serta disimpan dan dikelola sehubungan dengan penyediaan Layanan pada Platform dan dalam rangka pemanfaatan Layanan pada Platform oleh Pengguna.
"Gagal Bayar" adalah peristiwa dimana Peminjam telah melanggar ketentuan pembayaran Pinjaman, berikut bunga, denda, dan kewajiban finansial lainnya berdasarkan Perjanjian Pinjaman, oleh karena alasan apapun, baik karena kesengajaan atau kelalaian, meliputi antara lain melanggar jadwal dan/atau jumlah pembayaran Pinjaman yang diatur dalam Perjanjian Pinjaman maupun perubahannya dari waktu ke waktu (apabila ada).
"Kami" atau " Dana Pinjaman Online plus ", digunakan sesuai konteksnya, adalah PT Digital Synergy Technology yang dikenal dengan merek dagang " Dana Pinjaman Online plus ", yaitu perusahaan teknologi finansial yang melaksanakan kegiatan usaha LPMUBTI melalui Platform berdasarkan POJK No. 77/2016 untuk menyediakan Pinjaman bagi Peminjam. Kami atau Dana Pinjaman Online plus termasuk pegawai dan kuasa yang sah dari Dana Pinjaman Online plus i.
"Kuasa" adalah pemberian kuasa sebagaimana dimaksud dalam Pasal 1792 Kitab Undang-Undang Hukum Perdata dari Pemberi Pinjaman kepada RupiahPlus untuk mewakili dan bertindak untuk dan atas nama serta demi kepentingan Pemberi Pinjaman melakukan:
pernyataan kesepakatan, perancangan, negosiasi, penandatanganan, implementasi maupun restrukturisasi Perjanjian Pinjaman;
penagihan Pinjaman dari Peminjam berdasarkan Perjanjian Pinjaman, menerima dan mengembalikan dana hasil pembayaran kembali Pinjaman dari Peminjam kepada Pemberi Pinjaman; dan
tindakan-tindakan lain terkait yang sewajarnya diperlukan untuk pelaksanaan Perjanjian Pinjaman, kepatuhan terhadap POJK No. 77/2016, surat edaran OJK terkait dan peraturan perundang-undangan yang mempengaruhi atau perlu diperhatikan terkait LPMUBTI, Perjanjian Penyaluran Dana dan Perjanjian Pinjaman serta pemenuhan hak dan kewajiban Pemberi Pinjaman berdasarkan Perjanjian Pinjaman.
"Layanan" adalah layanan jasa keuangan berupa penyediaan Platform oleh Dana Pinjaman Online plus untuk mempertemukan Pemberi Pinjaman dengan Peminjam dalam rangka melaksanakan kegiatan LPMUBTI terkait penyaluran Pinjaman kepada Peminjam.
"LPMUBTI" adalah Layanan Pinjam Meminjam Uang Berbasis Teknologi, atau dikenal dengan peer-to-peer lending, untuk menyalurkan Pinjaman dari Pemberi Pinjaman kepada Penerima Pinjaman sebagaimana syarat, ketentuan dan pelaksanaannya diatur dalam POJK No. 77/2016.
"Nomor Darurat" adalah nomor kontak individu yang dicantumkan Peminjam pada saat mengajukan aplikasi permohonan perolehan pinjaman pada Perusahaan melalui Platform sebagai nomor yang dapat, berhak dan akan dihubungi Perusahaan ketika Peminjam telah dikategorikan Gagal Bayar.
"Nomor Darurat Pengganti" adalah nomor kontak individu yang diberikan Peminjam sebagai pengganti atas Nomor Darurat Non-Aktif atas permintaan Dana Pinjaman Online plus untuk dapat dihubungi Dana Pinjaman Online plus terkait tujuan sebagaimana dimaksud dalam Kebijakan Privasi ini.
"Nomor Darurat Non-Aktif" adalah sebagaimana dimaksud dalam Kebijakan Privasi ini.
"Platform" adalah situs dan/atau versi mobile dari situs yang dibuat, dimiliki dan dioperasikan oleh yang Dana Pinjaman Online plus saat ini terletak di dan dapat diakses pada URL www.danapinjol.com berikut perubahan URL tersebut dari waktu ke waktu.
"Pemberi Pinjaman" adalah pihak yang terdaftar dalam Platform untuk melakukan pendanaan berupa pemberian dan penyaluran Pinjaman kepada Peminjam melalui Platform.
"Peminjam" adalah pihak yang terdaftar dalam Platform untuk menerima pendanaan berupa pinjaman dari Pemberi Pinjaman melalui Platform.
"Pengguna" adalah Pemberi Pinjaman selaku pihak dalam Perjanjian Penyaluran Pinjaman dan Peminjam selaku pihak dalam Perjanjian Pinjaman yang terdaftar dalam Platform.
"Perjanjian Penyaluran Pinjaman" adalah perjanjian antara RupiahPlus dan Pemberi Pinjaman untuk penyaluran dana Pinjaman dari Pemberi Pinjaman kepada Peminjam melalui Platform.
"Perjanjian Pinjaman" adalah kesepakatan tertulis yang disepakati antara Pemberi Pinjaman, Dana Pinjaman Online plus dan Peminjam yang mengatur antara lain hak dan kewajiban Pemberi Pinjaman dan Peminjam, syarat dan ketentuan penyaluran Pinjaman dari Pemberi Pinjaman melalui Dana Pinjaman Online plus kepada Peminjam, dan mekanisme serta Kuasa, prosedur pengembalian atau pembayaran Pinjaman beserta perubahan, perpanjangan dan lampiran-lampirannya.
"Perkominfo No. 20/2016" adalah Peraturan Menteri Komunikasi dan Informatika Nomor 20 Tahun 2016 tentang Perlindungan Data Pribadi dalam Sistem Elektronik.
"Pinjaman" adalah fasilitas pinjaman (berikut bunga, denda dan kewajiban finansial lainnya) dari Pemberi Pinjaman yang disalurkan Pemberi Pinjaman kepada Peminjam melalui Platform Modalku berdasarkan Perjanjian Pinjaman.
"POJK No. 77/2016" adalah Peraturan Otoritas Jasa Keuangan Nomor 77/POJK.01/2016 tentang LPMUBTI.
"UU ITE" adalah Undang-Undang No. 11 Tahun 2008 tentang Informasi dan Transaksi Elektronik sebagaimana telah diubah terakhir berdasarkan Undang-Undang No. 19 Tahun 2016.
PENDAHULUAN
Dengan memperoleh Pinjaman dari Pemberi Pinjaman melalui Dana Pinjaman Online plus berdasarkan Perjanjian Pinjaman serta selama Peminjam masih merupakan pihak dalam setiap Perjanjian Pinjaman dan memiliki kewajiban finansial menurut ketentuan Perjanjian Pinjaman, maka Peminjam dianggap demi hukum telah menyetujui seluruh ketentuan Kebijakan Privasi ini khususnya ketentuan mengenai Penggunaan Nomor Darurat sebagaimana diatur dalam Pasal 3 berikut seluruh akibat hukumnya dengan sukarela, tanpa paksaan maupun penipuan dan tanpa diperlukan suatu formalitas atau pemenuhan prosedur apapun untuk memberlakukan ketentuan ini secara hukum.
Persetujuan Peminjam sebagaimana dimaksud dalam Pasal 2.1 di atas, tetap berlaku tanpa syarat dan tanpa dapat ditarik kembali hingga berakhirnya perikatan hukum berikut seluruh kewajiban finansial Peminjam berdasarkan Perjanjian Pinjaman.
Persetujuan Peminjam secara elektronik sebagaimana dimaksud dalam Pasal 2.2 di atas adalah:
dipersamakan dengan persetujuan sebagaimana dimaksud dalam Pasal 1320 Kitab Undang-Undang Hukum Perdata sebagai syarat sahnya suatu perjanjian;
dikualifisir sebagai alat bukti hukum yang sah berdasarkan Pasal 5 ayat 1 UU ITE; dan
merupakan instrumen pembuktian yang diterima sebagai bagian dari konsep pembuktian secara perdata dalam pengadilan menurut Pasal 1865 Kitab Undang-Undang Hukum Perdata.
Dana Pinjaman Online plus telah mengedepankan transparansi dan pemaparan secara intensif mengenai isi Kebijakan Privasi ini termasuk Penggunaan Nomor Darurat dalam proses pengajuan Aplikasi Permohonan sebagaimana diatur dalam Pasal 3 Kebijakan Privasi ini, sehingga Peminjam dianggap telah cermat memahami isi Kebijakan Privasi, sebagaimana dibuktikan secara mutlak dari diterimanya Pinjaman oleh Peminjam melalui Platform.
Dengan diberlakukannya ketentuan perihal Penggunaan Nomor Darurat sebagaimana diatur dalam Pasal 3 Kebijakan Privasi ini, RupiahPlus mengharapkan:
Peminjam menjadi konsumen yang baik dengan memenuhi janji dan komitmennya melunasi Pinjaman berdasarkan Perjanjian Pinjaman, sebagaimana Dana Pinjaman Online plus telah melaksanakan tanggung jawabnya untuk mencairkan Pinjaman dengan efisien, aman dan efektif pada Peminjam dengan seluruh rekam jejak transaksi dan alur proses pengajuan Aplikasi Permohonan yang terekam pada sistem informasi dan teknologi Dana Pinjaman Online plus ; dan
Peminjam menjadi konsumen yang beriktikad baik dalam melaksanakan tanggung jawabnya untuk melunasi Pinjaman dengan tepat waktu dan tuntas tanpa terlibat dalam sengketa apapun terkait Gagal Bayar dengan Dana Pinjaman Online plus , melainkan seluruh kewajiban finansial Peminjam terkait Pinjaman dapat dipenuhi dan dituntaskan sehingga Peminjam dapat dikategorikan sebagai Peminjam yang bertanggung jawab (responsible borrower) dalam kegiatan pinjam meminjam yang juga bertanggung jawab (responsible lending) yang mematuhi ketentuan hukum dan peraturan perundang-undangan
DATA PRIBADI
Penggunaan Data Pribadi
Selama menggunakan Layanan, kami berhak untuk meminta, memperoleh, mengumpulkan, menyimpan, mengelola dan menggunakan Data Pribadi Anda yang diperoleh melalui proses mencakup namun tidak terbatas pada pengisian formulir atau data isian online yang terdapat pada Platform, informasi mengenai perangkat, kunjungan serta penggunaan Platform pada saat Pengguna mengakses Platform, dan informasi lain yang didapat melalui Platform, email, telepon maupun media lain (apabila diperlukan).
Anda dengan ini memberikan persetujuan bahwa kami berhak meminta, memperoleh, mengumpulkan, mengolah, menyimpan, dan menggunakan Data Pribadi yang Anda berikan melalui Platform yang akan digunakan untuk, namun tidak terbatas pada, tujuan berikut
penilaian, analisis, verifikasi, validasi atau pemeriksaan terhadap (i) permohonan atau aplikasi perolehan pinjaman; (ii) proses atau permohonan pendaftaran sebagai Pemberi Pinjaman atau Peminjam; dan/atau (iii) profil Anda;
melakukan penilaian risiko, analisis dan perencanaan statistik dan tren, termasuk melaksanakan pengolahan data, analisis statistik, kredit, risiko dan anti pencucian uang, membuat dan mengelola model penilaian kredit, melakukan pemeriksaan dan peninjauan kredit dan latar belakang lain, dan menyimpan sejarah kredit Anda dan kuasa Anda yang sah untuk referensi saat ini dan di masa mendatang;
mengelola hubungan RupiahPlus dengan Anda yang dapat termasuk menyediakan informasi kepada Anda tentang Platform dan memungkinkan Anda untuk menggunakan Layanan yang disediakan oleh Platform;
mengirim notifikasi melalui email kepada Anda;
menghubungi Anda terkait dengan permintaan Anda dan kewajiban pembayaran Anda;
mencegah dan mendeteksi penipuan, termasuk namun tidak terbatas pada penggunaan teknologi deteksi suara untuk menganalisa rekaman percakapan telepon Anda dengan kami;
untuk keperluan bisnis kami secara umum misalkan untuk verifikasi identitas Anda dan reputasi kredit Anda;
mengidentifikasi Anda ketika Anda menghubungi kami atau mengunjungi Platform.
mengirim komunikasi komersial pemasaran dan non-pemasaran kepada Anda;
mengirim notifikasi atau buletin e-mail jika sebelumnya diminta oleh Anda;
memberikan informasi yang memadai di Platform untuk mengidentifikasi Anda kepada Pemberi Pinjaman dan/atau Peminjam;
mengizinkan Anda berpartisipasi dalam layanan fitur interaktif kami;
mengizinkan bank, badan keuangan atau pihak ketiga yang berwenang guna mengadakan pengecekan terbatas pada status Anda dalam database kami atau Layanan;
menangani pertanyaan atau keluhan yang dibuat oleh atau tentang Anda sehubungan dengan Platform dan disimpan untuk mencegah kecurangan;
memverifikasi kepatuhan Anda terhadap persyaratan dan ketentuan yang mengatur penggunaan Platform;
survey, riset, evaluasi dan/atau pengembangan produk atau Layanan oleh Dana Pinjaman Online plus atau pihak terkait yang berkepentingan;
pengurusan rekening escrow Pengguna kepada pihak penyedia penyedia rekening escrow;
melakukan pemeriksaan anti pencucian uang dan pencegahan dana terorisme di sektor jasa keuangan;
memenuhi persyaratan hukum, regulasi dan kepatuhan yang berlaku terhadap Dana Pinjaman Online plus beserta Platform dan Layanannya berdasarkan undang-undang yang berlaku dan mematuhi setiap perjanjian yang berlaku sehubungan dengan pelaksanaan Layanan, termasuk tetapi tidak terbatas pada memberikan data pribadi sebagaimana dipersyaratkan oleh otoritas yang berwenang;
melaksanakan perintah atau kebijakan pemerintah, badan pengaturan atau instansi yang berwenang;
melaporkan data Anda kepada otoritas yang berwenang dan melakukan tindakan hukum yang diperlukan dengan menggunakan data Anda ketika terjadi Gagal Bayar;
memberitahu Anda tentang perubahan-perubahan terhadap Platform dan Layanan.
Data Pribadi yang disampaikan oleh Anda kepada kami untuk tujuan publikasi di Platform akan digunakan untuk tujuan tersebut sesuai dengan persetujuan yang telah Anda berikan kepada kami.
Kami dapat mengungkapkan Data Pribadi Anda apabila:
dipersyaratkan oleh peraturan perundang-undangan;
terdapat proses hukum yang sedang atau akan berlangsung;
terdapat dugaan adanya tindak pidana termasuk namun tidak terbatas pada tindak pidana penipuan atau pencucian uang dan terorisme;
dipersyaratkan oleh instansi atau pihak yang berwenang; dan
apabila terjadi Gagal Bayar.
Jika Anda memberikan kami informasi yang salah dan tidak akurat, atau kami menduga adanya penipuan, kami bisa mencatat hal tersebut dalam sejarah kredit Anda dan membagikan informasi tersebut ke badan hukum yang tepat atau pihak yang berwenang dan/atau agensi pencegah penipuan, serta melakukan tindakan hukum sesuai dengan ketentuan yang berlaku.
Penyimpanan Data Pribadi
Semua Data Pribadi yang Anda berikan dan/atau kami terima sesuai dengan Kebijakan Privasi disimpan dengan aman di wilayah Republik Indonesia.
Penyimpanan Data Pribadi Pengguna oleh Dana Pinjaman Online plus paling singkat adalah selama 5 (lima) tahun atau selama diperlukan untuk melindungi kepentingan Dana Pinjaman Online plus  yang dianggap perlu atau apabila diminta oleh undang-undang.
Keamanan Data Pribadi
Kami akan mengambil semua langkah dan tindakan yang wajar untuk mencegah kehilangan, penyalahgunaaan atau perubahan Data Pribadi Anda oleh pihak-pihak yang tidak berwenang.
Kami selanjutnya menjamin bahwa semua informasi Data Pribadi Anda yang disampaikan kepada kami akan disimpan dalam server kami yang aman. Sistem keamanan kami telah memenuhi standar industri dan kami senantiasa mengamati perkembangan internet guna memastikan sistem kami berkembang seperti yang disyaratkan. Kami juga melakukan pengujian terhadap sistem kami secara berkala untuk memastikan mekanisme keamanan kami selalu mutakhir dan kami sepenuhnya mematuhi peraturan perundang-undangan yang berlaku tentang perlindungan data di Indonesia.
Terlepas dari langkah dan tindakan pencegahan yang kami lakukan, kami tidak dapat memberikan jaminan penuh atas keamanan segala bentuk data yang dikirimkan kepada kami melalui internet dimana terdapat pihak-pihak lain yang mengambil atau mempergunakan kami dengan melawan hukum serta tanpa izin kami. Kami akan berupaya sebaik mungkin untuk membatasi akses ke dalam Data Pribadi oleh pihak yang tidak berwenang.
Saat mendaftarkan diri di Platform, Anda diminta untuk membuat kata sandi pribadi Anda sendiri. Anda bertanggung jawab untuk menjaga kerahasiaan kata sandi tersebut. Kami mengimbau agar Anda tidak membagikan atau memberitahukan kata sandi tersebut kepada pihak yang tidak berkepentingan. Kecuali jika Anda ingin masuk ke Platform, kami tidak akan pernah meminta kata sandi Anda.
Pengembalian dan Pemusnahan Data Pribadi
Pemusnahan Data Pribadi Anda hanya dapat dilakukan jika:
telah melewati ketentuan jangka waktu penyimpanan Data Pribadi yaitu 5 (lima) tahun atau sesuai dengan ketentuan peraturan perundang-undangan;
atas permintaan Anda, kecuali ditentukan lain oleh ketentuan peraturan perundang-undangan.
Pemusnahan sebagaimana pada Pasal 2.11 termasuk menghilangkan sebagian atau keseluruhan dokumen terkait Data Pribadi Anda yang kami kelola sehingga Data Pribadi tersebut tidak dapat ditampilkan kembali dalam sistem elektronik kecuali Anda memberikan Data Pribadi yang baru.
Perubahan Data Pribadi
Kami memahami bahwa Anda perlu memperbarui atau memperbaiki informasi Anda dari waktu ke waktu. Saat diperlukan pembaruan informasi, maka Pengguna dapat mengajukan permohonan secara tertulis via email kepada Kami dan berikan Kami rincian yang relevan. Kami akan membantu memperbarui dan/atau memperbaiki informasi Anda untuk Anda jika dianggap perubahan tersebut diperlukan.
Pengembalian Data Pribadi
Pengguna berhak atas pemusnahan Data Pribadi yang telah diberikan kepada kami dengan persyaratan sebagai berikut:
tidak sedang terikat perjanjian sehubungan dengan penyediaan Layanan pada Platform, baik Perjanjian Penyaluran Pinjaman maupun Perjanjian Pinjaman;
tidak memiliki hak sehubungan dengan penyediaan Layanan pada Platform, termasuk namun tidak terbatas pada hak tagih atas pengembalian, pembayaran kembali dan pelunasan piutang;
tidak memiliki kewajiban, tanggung jawab finansial, utang atau hal sejenisnya sehubungan penyediaan Layanan pada Platform;
tidak dalam proses pengajuan permohonan perolehan pinjaman berikut proses verifiaksi dan penilaian terhadap permohonan tersebut oleh RupiahPlus; dan
tidak terdaftar sebagai Pengguna aktif Platform (sudah menonaktifkan akun).
Permohonan pengembalian Data Pribadi tersebut disampaikan kepada kami melalui email cs@rupiahplus.com dengan menyertakan bukti diri yang sah (salinan kartu tanda penduduk atau paspor) beserta alasan pengembalian Data Pribadi.
PENGGUNAAN NOMOR DARURAT
Tujuan Penggunaan Nomor Darurat
Nomor Darurat yang dicantumkan oleh Penerima Pinjaman saat proses pengajuan permohonan perolehan Pinjaman ("Aplikasi Permohonan") akan digunakan Dana Pinjaman Online plus khusus untuk menghubungi pemilik Nomor Darurat yang bersangkutan ketika Peminjam berada dalam keadaan Gagal Bayar.
Hak Dana Pinjaman Online plus Menghubungi Nomor Darurat
Sebagai syarat mutlak pemanfaatan Pinjaman melalui Platform, Peminjam dengan ini mengizinkan tanpa Dana Pinjaman Online plus memerlukan persetujuan dari pihak manapun, untuk menghubungi pihak selaku pemilik Nomor Darurat ("Pemilik Nomor Darurat") dalam hal Peminjam berada dalam keadaan Gagal Bayar, sebagaimana dapat diberitahukan oleh RupiahPlus, untuk tujuan:
mencari atau menelusuri keberadaaan Peminjam dalam hal Peminjam yang belum melunasi Pinjaman dan Peminjam tidak bisa atau sulit dihubungi melalui nomor telepon selular Peminjam yang terdaftar dan tercatat pada Platform pada saat proses pengajuan Aplikasi Permohonan;
meminta bantuan Pemilik Nomor Darurat untuk mengingatkan Peminjam untuk membayar dan melunasi Pinjaman; dan/atau
meminta Pemilik Nomor Darurat menyampaikan pesan dari RupiahPlus sehubungan dengan pemenuhan kewajiban pelunasan Pinjaman dan keadaan Gagal Bayar.
Dana Pinjaman Online plus akan menghubungi Pemilik Nomor Darurat untuk tujuan di atas baik melalui, antara lain, telepon langsung, SMS (Short Message Service), BlackBerry messenger, WeChat, maupun Whatsapp dan cara lain sebagaimana ditentukkan oleh Dana Pinjaman Online plus dari waktu ke waktu. Dalam berkorespondensi dengan Pemilik Nomor Darurat, Dana Pinjaman Online plus akan menghindari segala wujud intimidasi, ancaman maupun pelanggaran hukum lainnya, termasuk dalam hal ini tidak akan mengirim foto Peminjam kepada Pemilik Nomor Darurat.
Langkah Antisipasi Terhadap "Nomor Darurat Non-Aktif"
Nomor Darurat yang dicantumkan Peminjam dalam proses pengajuan Aplikasi Permohonan sehingga tercatat pada Platform dianggap sebagai "Nomor Darurat Non-Aktif" apabila namun Nomor Darurat tersebut:
tidak juga diangkat, memperoleh tanggapan atau respon;
tidak terdaftar, tidak aktif, tidak berfungsi ataupun secara permanen tidak lagi digunakan; dan/atau
telah berpindah tangan kepada pihak ketiga lain yang tidak terkait Peminjam atau telah digunakan oleh pihak lain yang mengaku tidak mengenal Peminjam.
Hak Dana Pinjaman Online plus Menghubungi Nomor Darurat Pengganti
Dalam hal terjadinya keadaan dimana Nomor Darurat dikualifisir sebagai Nomor Darurat Non-Aktif, maka Dana Pinjaman Online plus akan menghubungi Peminjam yang bersangkutan untuk meminta Nomor Darurat Pengganti untuk menjadi substitusi atau pengganti atas Nomor Darurat Non-Aktif tersebut di atas.
Jika oleh karena alasan apapun Dana Pinjaman Online plus tidak dapat memperoleh Nomor Darurat Pengganti dari Peminjam, maka Dana Pinjaman Online plus  dapat memanfaatkan teknologi Dana Pinjaman Online plus untuk mengakses telepon seluler Peminjam yang digunakan untuk mengunduh (download) Platform dan/atau mengajukan Aplikasi Permohonan untuk memperoleh Nomor Darurat Pengganti ("Telepon Seluler Peminjam") dengan kriteria sebagai berikut untuk memilih Nomor Darurat Pengganti yang dimaksud melalui penelusuran terhadap
call log atau histori korespondensi melalui telepon pada Telepon Seluler Peminjam antara Peminjam dengan pihak lain dengan menilai kombinasi antara:
nomor telepon yang terkini yang dihubungi Peminjam;
nomor telepon yang paling sering dihubungi Peminjam; dan/atau
nomor telepon yang paling lama dihubungi Peminjam.
histori atau rekam jejak SMS (Short Message Service) pada Telepon Selular Peminjam antara Peminjam dengan pihak lain dengan menilai kombinasi antara:
nomor pengirim SMS pada Peminjam dan/atau nomor yang terhadapnya dikirimkan SMS oleh Peminjam yang terkini;
nomor pengirim SMS pada Peminjam dan/atau nomor yang terhadapnya dikirimkan SMS oleh Peminjam dengan intensitas yang paling sering atau jumlah paling banyak;
nomor pengirim SMS pada Peminjam dan/atau nomor yang terhadapnya dikirimkan SMS oleh Peminjam dengan intensitas yang paling sering atau jumlah paling banyak.
phonebook atau daftar kontak/nomor telepon pada Telepon Selular Peminjam dimana Dana Pinjaman Online plus akan memilih nomor kontak sebagai Nomor Darurat Pengganti, dalam hal akses kepada atau perolehan Nomor Darurat Pengganti dari call log (histori korespondensi dengan cara menelepon) maupun histori atau rekam jejak SMS sebagaimana dimaksud di atas tidak dapat dilakukan atau dituntaskan oleh karena alasan apapun.
Dana Pinjaman Online plus tidak akan menghubungi pihak pengirim SMS kepada Peminjam atau yang menerima SMS dari Peminjam yang merupakan pihak institusional seperti institusi perbankan, perusahaan pembiayaan atau pihak lain yang mengirimkan SMS terkait tagihan atau tunggakan kredit, pemesanan barang melalui daring (online), asuransi atau perusahaan telekomunikasi dalam konteks SIM Card provider atau layanan pra atau pasca bayar.
Dana Pinjaman Online plus akan melaksanakan haknya berdasarkan Kebijakan Privasi ini termasuk ketentuan mengenai Penggunaan Nomor Darurat dengan mematuhi ketentuan hukum dan peraturan perundang-undangan terkait serta menjunjung tinggi etika dan tanggung jawab yang baik.
Pembebasan Tanggung Jawab RupiahPlus
Peminjam dengan ini membebaskan, membela dan tidak RupiahPlus dan/atau Pemberi Pinjaman (berikut karyawan, direksi, komisaris, pemegang saham, perwakilan, kuasa, agen dan/atau afiliasinya) dari setiap kerugian, pengeluaran, ongkos maupun biaya, tuntutan dan/atau gugatan appaun yang timbul dari atau sehubungan dengan:
sengketa dengan pihak ketiga terkait Nomor Darurat dan/atau Nomor Darurat Pengganti oleh karena alasan atau sebab sengketa apapun;
pelanggaran hak atau kerugian pihak ketiga atau pihak manapun terkait Nomor Darurat dan/atau Nomor Darurat Pengganti;
sanksi, investigasi atau penyelidikan, penyidikan, inspeksi atau audit maupun konsekuensi apapun dari atau terkait pelanggaran ketentuan hukum dan/atau peraturan perundang-undangan, kebijakan pemerintah dan/atau putusan badan peradilan atau arbitrase manapun akibat dari atau sehubungan dengan pelaksanaan hak RupiahPlus dalam ketentuan ini atau upaya menghubungi, mengakses, menelusuri, memperoleh dan/atau memanfaatkan Nomor Darurat dan/atau Nomor Darurat Pengganti.
HAK PENGGUNA
Sehubungan dengan penggunaan Layanan pada Platform, Pengguna berhak:
atas kerahasiaan Data Pribadinya dan Nomor Darurat (termasuk Nomor Darurat Pengganti);
mengajukan pengaduan dalam rangka penyelesaian sengketa Data Pribadi atas kegagalan perlindungan Data Pribadi oleh kami kepada Menteri;
mendapatkan akses atau kesempatan untuk mengubah atau memperbaharui Data Pribadinya tanpa menganggu sistem pengelolaan Data Pribadi, kecuali ditentukan lain oleh ketentuan peraturan perundang-undangan;
mendapatkan akses atau kesempatan untuk memperoleh historis Data Pribadinya yang pernah diserahkan sepanjang masih sesuai dengan ketentuan peraturan perundang-undangan;
meminta pemusnahan Data Pribadi yang yang kami kelola, kecuali ditentukan lain oleh ketentuan peraturan perundang-undangan; dan
menentukan klasifikasi rahasia dan tidak rahasia dari Data Pribadi (apabila dibutuhkan).
PENGESAMPINGAN KEWAJIBAN
Anda setuju untuk tidak meminta pertanggungjawaban kami atas pelanggaran, pelanggaran atau ketidakpatuhan terhadap Kebijakan Privasi atau perlindungan Data Pribadi dalam situasi berikut:
dimana suatu tindakan alam atau keadaan yang tidak terduga telah terjadi, mengakibatkan kerusakan, kerusakan atau penghancuran peralatan dan/atau mesin yang digunakan untuk mengamankan, menyimpan atau memproses Data Pribadi Pengguna;
dimana Data Pribadi telah tersedia atau dapat ditemukan oleh publik sebelum Data Pribadi atau informasi semacam itu disampaikan kepada kami;
dimana setelah setiap usaha dan upaya yang wajar telah dilakukan oleh kami untuk memverifikasi, mengamankan dan melindungi data dan informasi pribadi yang kami berikan, ada akses tidak sah, hacking, penyalahgunaan, modifikasi, perubahan, gangguan;
atas keakurasian (kecuali Data Pribadi yang telah diverifikasi oleh Dana Pinjaman Online plus sesuai kebijakannya), keabsahan, legalitas dan kelengkapan Data Pribadi Anda dan tidak diwajibkan untuk memberitahu Anda atau pihak manapun perihal tersebut kecuali diwajibkan secara hukum; dan/atau
dimana penyalahgunaan Data Pribadi dan informasi yang disebabkan dengan tindakan kejahatan, penipuan atau tindak pidana apapun atau salah tindakan dari pihak ketiga yang tidak berada di bawah kendali atau instruksi maupun persetujuan kami.
Kami akan berupaya sewajarnya untuk memberitahu secara tertulis melalui e-mail kepada Anda jika terjadi kegagalan perlindungan rahasia Data Pribadi dalam pengelolaan Platform baik yang disebabkan oleh kami atau ketika kami mengetahuinya dari pihak ketiga yang dikelola dengan ketentuan pemberitahuan sebagai berikut:
dengan menyertakan alasan atau penyebab terjadinya kegagalan perlindungan rahasia Data Pribadi;
pemberitahuan tertulis lewat email kepada Anda paling lambat 14 (empat belas) hari sejak diketahui adanya kegagalan tersebut;
menyediakan contact person yang mudah dihubungi oleh Anda terkait pengelolaan Data Pribadi.
COOKIES
Dengan mengunjungi dan menggunakan Platform, Anda mengetahui bahwa cookies dapat terpasang di perangkat Anda. Cookies adalah file yang mencatat informasi seperti jejak pencarian situs dari perangkat atau untuk mengumpulkan informasi log internet dan informasi perilaku pengunjung. Saat Anda mengunjungi Platform ini lagi, cookies akan memudahkan kami untuk menyesuaikan konten sesuai dengan kebutuhan Anda. Cookies ini tidak melacak informasi Pengguna secara individual, dan semua data cookie kami telah dienkripsi dan tidak dapat dibaca oleh Platform lain.
Walaupun secara otomatis perangkat komputer Anda akan menerima cookies, Anda dapat menentukan pilihan untuk melakukan modifikasi melalui pengaturan situs pencarian Anda yaitu dengan memilih untuk menolak cookies dengan menghapus cookies yang terpasang di perangkat Anda setiap saat dengan mengkonfigurasi perangkat lunak situs pencarian Anda. Anda mungkin tidak mendapatkan keuntungan dari beberapa Layanan pada Platform jika cookie dihapus atau dicegah agar tidak terpasang diperangkat Anda.
AKSES SOSIAL MEDIA
Dalam rangka penyediaan Layanan pada Platform, kami dapat meminta Anda untuk memberikan kami izin mengakses ke akun media sosial termasuk namun tidak terbatas pada Twitter, Facebook, Path, Google+ dan/atau Linkedln.
Anda tidak diwajibkan untuk memberikan akses ke akun media sosial milik Anda. Namun terkait dengan Layanan, Anda perlu memahami bahwa akses ke akun media sosial Anda dapat meningkatkan kesempatan Anda mendapatkan pinjaman lebih murah dengan kami.
Dalam hal Anda memberikan kami akses ke data akun media sosial Anda, Anda harus memahami bahwa kami hanya menggunakan data tersebut untuk tujuan berikut:
verifikasi identitas;
mitigasi risiko penipuan identitas;
statistik analisis/kuantitatif;
melakukan kontrol regulasi;
memberikan informasi dan menjawab pertanyaan; dan
mencegah penipuan, pencucian uang dan kegiatan kriminal lainnya.
8.4	Kami tidak akan menggunakan data Anda untuk tujuan lain yang tidak disebutkan di atas termasuk namun tidak terbatas pada:
berbagi atau menjual data Anda langsung atau tidak langsung kepada pihak ketiga;
mengunggah informasi apapun untuk atau ke akun media sosial Anda termasuk namun tidak terbatas pada kepesertaan Anda pada RupiahPlus;
menghubungi setiap koneksi Anda pada jaringan sosial
PERUBAHAN KEBIJAKAN PRIVASI
Kebijakan Privasi ini mungkin diubah dan/atau diperbaharui dari waktu ke waktu. Ketika kami melakukannya, kami akan memperbaharui dan menerbitkan versi terbaru dari Kebijakan Privasi ini di Platform.
Anda disarankan untuk membaca secara saksama dan memeriksa Kebijakan Privasi ini dari waktu ke waktu agar Anda tetap terinformasikan mengenai perubahan terbaru dalam Kebijakan Privasi ini.
Kami dapat memberitahu Anda tentang perubahan yang dibuat pada Kebijakan Privasi ini melalui e-mail ke alamat e-mail Anda yang terdaftar.
Dengan tetap mengakses dan menggunakan Platform dan Layanan, maka Pengguna dianggap menyetujui perubahan-perubahan dalam Kebijakan Privasi ini.
LAIN-LAIN
Kebijakan Privasi ini kami susun dengan menyesuaikan pada peraturan perundang-undangan yang berlaku termasuk namun tidak terbatas pada POJK No. 77/2016 dan Pekominfo No. 20/2016.
KONTAK
Apabila ada pertanyaan, komentar dan permintaan mengenai Kebijakan Privasi dapat ditujukan kepada Petugas Perlindungan Data Kami di alamat surat elektronik ( email ): danapinjamplus@gmail.com.
 Saya telah membaca dan memahami dengan seksama dan menyetujui seluruh isi dan bagian dari Kebijakan Privasi,
 Saya menyetujui dan bersedia untuk terikat pada seluruh ketentuan Kebijakan Privasi, tanpa memerlukan tanda tangan konvensional atau tanda tangan basah, dan persetujuan yang saya berikan saat ini merupakan persetujuan elektronik yang diakui secara hukum sebagai alat bukti hukum yang sah berdasarkan Pasal 5 ayat 1 Undang-Undang Nomor 11 Tahun 2008 tentang Informasi dan Transaksi Elektronik mengenai kesepakatan dan persetujuan saya atas Kebijakan Privasi yang saya telah pahami, berikut segala akibat hukumnya bagi saya selaku Peminjam.
 Saya menyadari bahwa persetujuan saya terhadap Kebijakan Privasi ini dianggap sebagai persetujuan elektronik (electronic consent) yang terekam dalam sistem elektronik Dana Pinjaman Online plus dan sah mengikat saya secara hukum sehingga tidak akan saya sangkal dan saya tidak bisa mengelak dari tuntutan untuk mematuhi Kebijakan Privasi ini.
 Saya menerima bahwa setiap pemberian tanda centang ini sebagai alat bukti tunggal atas persetujuan saya terhadap ketentuan Kebijakan Privasi dalam rangka pembuktian menurut Pasal 1865 Kitab Undang-Undang Hukum Perdata, dan dengan demikian saya tidak akan memulai atau terlibat dalam upaya atau kegiatan apapun yang bertujuan untuk membatalkan persetujuan ini maupun mempengaruhi keberlakuannya. Oleh karena itu saya juga menyadari, mengakui, menerima dan menyetujui bahwa Dana Pinjaman Online plus tidak akan memberi tanggapan apapun terhadap setiap sangkalan, konflik, laporan atau argumen apapun dari saya pribadi terkait upaya untuk menentang keberlakuan dan keabsahan secara hukum Kebijakan Privasi ini.